PORT=5000
JWT_SECRET=replace_with_shared_jwt_secret
AUTH_SERVICE_URL=http://127.0.0.1:5001
INVENTORY_SERVICE_URL=http://127.0.0.1:5002
ORDER_SERVICE_URL=http://127.0.0.1:5003
PAYMENT_SERVICE_URL=http://127.0.0.1:5004
ANALYTICS_SERVICE_URL=http://127.0.0.1:5005
